@font-face {
  font-family: "Gotham";
  src:font-url('GothamHTF-Book.ttf') format("truetype");
}
@font-face {
  font-family: "Gotham-bold";
  src:font-url('GothamHTF-Bold2.ttf') format("truetype");
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}